[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Tool for checking for bad passwords
[access "refs/*"]
	owner = group user/Andrew Hayes (AndrewRussellHayes)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Andrew Hayes (AndrewRussellHayes)
	label-Verified = -1..+1 group user/Andrew Hayes (AndrewRussellHayes)
	push = group user/Andrew Hayes (AndrewRussellHayes)
	read = group user/Andrew Hayes (AndrewRussellHayes)
	rebase = group user/Andrew Hayes (AndrewRussellHayes)
	removeReviewer = group user/Andrew Hayes (AndrewRussellHayes)
	submit = group user/Andrew Hayes (AndrewRussellHayes)
[access "refs/heads/*"]
	create = group user/Andrew Hayes (AndrewRussellHayes)
	push = +force group user/Andrew Hayes (AndrewRussellHayes)
	pushMerge = group user/Andrew Hayes (AndrewRussellHayes)
	read = group user/Andrew Hayes (AndrewRussellHayes)
[access "refs/tags/*"]
	push = group user/Andrew Hayes (AndrewRussellHayes)
	push = +force group user/Andrew Hayes (AndrewRussellHayes)
